<app-navbar></app-navbar>

<section class="auth-wrapper">
  <div class="auth-box">
    <h2>Скидання паролю</h2>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <input type="password" formControlName="password" placeholder="Новий пароль" />
      <div *ngIf="form.controls.password.invalid && form.controls.password.touched" class="error">
        Мінімум 6 символів
      </div>

      <input type="password" formControlName="confirmPassword" placeholder="Підтвердіть пароль" />
      <div *ngIf="form.hasError('mismatch') && form.controls.confirmPassword.touched" class="error">
        Паролі не співпадають
      </div>

      <button type="submit" [disabled]="form.invalid || isLoading">Зберегти</button>

      <div *ngIf="message" class="info">{{ message }}</div>
    </form>
  </div>
</section>

<app-footer></app-footer>
