<app-navbar></app-navbar>

<section class="forgot-wrapper">
  <div class="auth-box">
    <h2>Відновлення паролю</h2>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <input type="email" formControlName="email" placeholder="Ваш email" />
      <div *ngIf="form.controls.email.invalid && form.controls.email.touched" class="error">
        Введіть коректний email
      </div>

      <button type="submit" [disabled]="form.invalid || isLoading">
        Надіслати посилання
      </button>

      <div *ngIf="message" class="info">{{ message }}</div>
    </form>
  </div>
</section>

<app-footer></app-footer>
