<app-navbar></app-navbar>

<!-- Toast -->
<div class="toast" *ngIf="toastMessage" [ngClass]="toastType">
  {{ toastMessage }}
</div>

<section class="profile-wrapper">
  <div class="profile-card">
    <div class="avatar-section">
      <img
      *ngIf="userData?.avatar"
      [src]="environment.uploadBaseUrl + '/avatars/' + userData.avatar + '?t=' + now"
      (error)="onAvatarLoadError()"
      alt="Аватар"
      class="avatar-img"
      id="avatarPreview"
      />
    
      <app-avatar-upload (avatarUpdated)="handleAvatarUpdate($event)"></app-avatar-upload>
    </div>

    <div class="info-section">
      <h2>{{ userData.username }}</h2>
      <p class="role-label">Профіль користувача</p>

      <div class="info-box">
        <p><strong>Email:</strong> {{ userData.email }}</p>
      </div>

      <div *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
      </div>
    </div>
  </div>
</section>




<app-footer></app-footer>
