<app-navbar></app-navbar>

<div class="home-container">
  <div class="home-content">
    <h1>Minecraft Project X</h1>
    <p>Поринь у світ пригод, магії та унікальних серверах</p>
    <a routerLink="/register" class="cta-button">Почати грати</a>
  </div>
</div>
<section class="how-to-start">
  <h2>Як почати гру?</h2>
  <div class="steps">
    <div class="step">
      <span class="step-number">1</span>
      <h3>Створи акаунт</h3>
      <p>Зареєструйся на нашому сайті та підтвердь пошту.</p>
    </div>
    <div class="step">
      <span class="step-number">2</span>
      <h3>Завантаж лаунчер</h3>
      <p>Скачай наш лаунчер з розділу "Завантаження".</p>
    </div>
    <div class="step">
      <span class="step-number">3</span>
      <h3>Увійди в гру</h3>
      <p>Запусти лаунчер, увійди та обери сервер для гри!</p>
    </div>
  </div>
</section>
<app-servers> </app-servers>

<app-footer></app-footer>
