<div class="container">
  <a class="logo" routerLink="/home">
    <div class="logo-image"></div>
  </a>

  <!-- Бургер -->
  <div class="burger" [ngClass]="{ open: menuOpen }" (click)="toggleMenu()">
    <div></div>
    <div></div>
    <div></div>
  </div>

  <!-- Навігація -->
  <nav [ngClass]="{ open: menuOpen }">
    <ng-container *ngIf="!authService.isLoggedIn(); else loggedInLinks">
      <div class="nav-item"><a routerLink="/home" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">Сайт</a></div>
      <div class="nav-item"><a routerLink="/register" routerLinkActive="active-link">Реєстрація</a></div>
      <div class="nav-item"><a routerLink="/login" routerLinkActive="active-link">Логін</a></div>
    </ng-container>

    <ng-template #loggedInLinks>
      <div class="nav-item"><a routerLink="/profile" routerLinkActive="active-link">Профіль</a></div>
      <div class="nav-item"><a routerLink="/settings" routerLinkActive="active-link">Налаштування</a></div>
      <div class="nav-item"><a routerLink="/payments" routerLinkActive="active-link">Платежі</a></div>
      <div class="nav-item"><a href="#" (click)="exit($event)">Вийти</a></div>
    </ng-template>
  </nav>
</div>
